[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-decouple = "==3.3"
gunicorn = "==19.9.0"
dj-database-url = "*"
beautifulsoup4 = "==4.8.1"
certifi = "==2019.9.11"
chardet = "==3.0.4"
idna = "==2.8"
pytz = "==2019.3"
requests = "==2.22.0"
soupsieve = "==1.9.5"
urllib3 = "==1.25.7"
Django = "==2.1"
requirements-txt = "*"
Unidecode = "==1.1.1"

[requires]
python_version = "3.6"
